<div class="blog-details">
    <img src="{{{blog.image}}}" alt="Blog Image" class="blog-image-large">
    <h1>{{{blog.title}}}</h1>
    <p>{{{blog.formattedBody}}}</p>
    <a href="/blogs/allBlogs" class="back-link">Back to Blogs</a>
</div>

