<footer>
    <div class="footer-container">
        <div class="social-media-column">
            <p class="footer-heading">Join Our Social Community</p>
            <div class="social-media">
                <a href="https://twitter.com" target="_blank">
                    <img src="/public/images/social-media/twitter.png" alt="Twitter" class="social-media-logo">
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="/public/images/social-media/instagram.png" alt="Instagram" class="social-media-logo">
                </a>
                <a href="https://youtube.com" target="_blank">
                    <img src="/public/images/social-media/youtube.png" alt="YouTube" class="social-media-logo">
                </a>
                <a href="https://linkedin.com" target="_blank">
                    <img src="/public/images/social-media/linkedin.png" alt="LinkedIn" class="social-media-logo">
                </a>
            </div>
        </div>

        <div class="quick-links-column">
            <p class="footer-heading">Quick Links</p>
            <ul>
                <li><a href="/" class="link">Home</a></li>
                <li><a href="/events" class="link">Events</a></li>
                <li><a href="/donate/donation" class="link">Donate</a></li>
                <li><a href="/blogs" class="link">Blogs</a></li>
                <li><a href="/contact-us" class="link">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>