<main class="donation-thank-you">
    <div class="thank-you-container">
        <h1>Great Work !!!</h1>
        <h2>Every small step makes a big difference</h2>
        <img src="/public/images/website/thank-you.png" alt="Thank you">
        <p>Thank You for Your Contribution!</p>
        <a href="/" class="home-btn">Back to Home</a>
    </div>
</main>